.widget-box.transparent.clearfix
  .widget-main
    = simple_form_for [:admin, resource],  html: { class: 'form form-horizontal'} do |f|
      .form-group
        %label.col-sm-2.control-label タイトル
        .col-sm-5
          = f.text_field :title, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 英語検索タイトル
        .col-sm-5
          = f.text_field :eng_title, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label タイトルASIN
        .col-sm-5
          = f.text_field :title_asin, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 公式url
        .col-sm-5
          = f.text_field :public_url, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label PV URL
        .col-sm-5
          = f.text_field :pv_url, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 説明文
        .col-sm-5
          = f.input_field :description, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label ブログID
        .col-sm-5
          = f.input_field :blog_id, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label カテゴリ名
        .col-sm-5
          = f.input_field :category, as: :select, collection: ['2016年春アニメ', '2015年冬アニメ'], include_blank: false
      .form-group
        %label.col-sm-2.control-label OP ASIN
        .col-sm-5
          = f.text_field :op, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label ED ASIN
        .col-sm-5
          = f.text_field :ed, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 更新（曜日）
        .col-sm-5
          = f.input_field :onair_youbi, as: :select, collection: ["日", "月", "火", "水", "木", "金", "土"], include_blank: false
      .form-group
        %label.col-sm-2.control-label 更新（時間）
        .col-sm-5
          = f.text_field :onair_hour, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 話数
        .col-sm-5
          = f.text_field :story_no, class: 'form-control'
      .form-group
        %label.col-sm-2.control-label 有効
        .col-sm-5
          = f.input_field :is_active, class: 'form-control'
      .col-xs-12.clearfix.form-actions
        .col-md-offset-3.col-md-9
          = f.submit '送信', class: 'btn btn-primary'
