
.pull-right
  = link_to '記事を投稿する', articles_path, method: :post, class: 'btn btn-success'
  = link_to '記事を投稿する(特定アイドル)', articles_path(mode: 'idol'), method: :post, class: 'btn btn-success'

  = form_for Article.new do
    = text_field_tag 'word'
    = submit_tag 'キーワード指定投稿'

#{ @articles.total_count }件(正常終了： #{ Article.success.count } 件)
.paginate
  = paginate @articles
.main
  %table.table.table-striped.table-hover
    %tr
      %th.center ID
      %th.center 投稿先のサイト
      %th.center カテゴリ
      %th.center タイトル
      %th.center 本文
      %th.center ASIN
      /%th.center AUTHOR
      %th.center ブログID
      %th.center 作成日
      %th.center 記事削除
      %th.center 記事削除日
      %th.center アクション
    - @articles.each do |article|
      %tr
        %td.center= article.id
        %td.center= article.target
        %td.center{ class: ("red" if article.failed_flag?) }
          - if article.failed_flag?
            = article.title
          - else
            = link_to article.title, article_path(article)
        %td.center= article.category
        %td.center= simple_format article.body.truncate(50) if article.body.present?
        %td.center= article.asin
        /%td.center= article.author
        %td.center= article.blog_id
        %td.center= l article.created_at
        %td.center.red= l article.deleted_at if article.deleted_at.present?
        %td.center= link_to '記事削除', rm_hatena_article_path(article), method: :delete, data: { confirm: "#{ article.title }を削除します。よろしいですか？" }, class: 'btn btn-danger'
        %td.center= link_to 'データ削除', article_path(article), method: :delete, data: { confirm: "#{ article.title }を削除します。よろしいですか？" }, class: 'btn btn-danger'
