%ul
  %li= link_to 'アクティブのみ', articles_path
  %li= link_to '全て表示', all_articles_articles_path
.pull-right
  = link_to 'アイドル記事を投稿する', articles_path(url_type: 'idol'), method: :post, class: 'btn btn-success'
  = link_to 'メイド記事を投稿する', articles_path(url_type: 'maid'), method: :post, class: 'btn btn-success'
  = form_for Article.new do
    = select_tag 'word', options_for_select(Keyword.active.pluck(:name))
    = hidden_field_tag 'url_type', 'idol'
    = submit_tag 'キーワード指定投稿'
.collection
  = render 'list', articles: @articles
