
= link_to '記事を投稿する', articles_path, method: :post, class: 'btn btn-success'
.main
  %table.table.table-striped.table-hover
    %tr
      %th.center ID
      %th.center タイトル
      %th.center 本文
      %th.center ASIN
      %th.center AUTHOR
      %th.center 作成日
    - @articles.each do |article|
      %tr
        %td.center= article.id
        %td.center= article.title
        %td.center= simple_format article.body
        %td.center= article.asin
        %td.center= article.author
        %td.center= l article.created_at
