- article = resource
.main
  %table.table.table-striped.table-hover
    %tr
      %td.center 投稿先のサイト
      %td.center= article.target 
    %tr
      %td.center タイトル
      %td.center= article.title
    %tr
      %td.center カテゴリ
      %td.center= article.category
    %tr
      %td.center 画像URL
      %td.centert= image_tag article.image_url
    %tr
      %td.center 本文
      %td.centert= simple_format article.body
    %tr
      %td.center アクション
      %td.center
        - url_type = article.target == 'グラビア' ? 'idol' : article.target
        - if article.blog_id.present? && article.deleted_at.blank?
          = link_to '記事削除', rm_hatena_article_path(article, url_type: url_type), method: :delete, data: { confirm: "#{ article.title }を削除します。よろしいですか？" }, class: 'btn btn-danger'
        - elsif article.staging_flag?
          = link_to '本番反映', post_hatena_article_path(article, url_type: url_type), method: :post, class: 'btn btn-success'
          %br
          = link_to '記事非公開', rm_blog_article_path(article), method: :delete, data: { confirm: "#{ article.title }を削除します。よろしいですか？" }, class: 'btn btn-danger'
