.main
  %table.table.table-striped.table-hover
    %tr
      %th.center 名前
      %th.center 原稿枚数
      %th.center 賞金
      %th.center 締め切り
      %th.center 応募タイプ(原稿郵送、web)
      %th.center プロの応募
    - rookie_awards.recent.each do |rookie_award|
      %tr
        %td.center
          = link_to rookie_award_path(rookie_award) do
            = simple_format rookie_award.name
        %td= simple_format rookie_award.volume
        %td= simple_format rookie_award.money
        %td.center
          = l rookie_award.deadline_date
          %br
          (あと
          %span.red= time_ago_in_words rookie_award.deadline_date
          )
        %td.center= rookie_award.submit_type
        %td.center= rookie_award.can_professional? ? '可' : '不可'
