= search_form_for @q, method: :get, remote: true, html: { id: 'search-form' } do |f|
  = render layout: 'condition_box' do
    .clearfix
      .grid-item
        %label 応募締め切り
        = f.search_field :deadline_date_gteq, class: 'datepicker'
        〜
        = f.search_field :deadline_date_lteq, class: 'datepicker'
    .clearfix
      .grid-item
        %label 新人賞タイトル
        = f.search_field :name_cont
    .clearfix
      .grid-item
        %label 
          = check_box_tag "q[submit_type_in]", 'web/原稿郵送'
          web/原稿郵送
        %label 
          = check_box_tag "q[submit_type_in]", 'webのみ'
          webのみ
        %label 
          = check_box_tag "q[submit_type_in]", '原稿郵送のみ'
          原稿郵送のみ
    .clearfix
      .grid-item
        %label 
          = check_box_tag "q[can_professional_in]", 1
          プロ可能
        %label 
          = check_box_tag "q[can_professional_in]", 0
          プロ不可
