%h4= resource.name 
.row
  %table.table.table-striped.table-hover
    %tr
      %th.center 締め切り
      %td= l resource.deadline_date 
    %tr
      %th.center 公式URL
      %td= link_to '公式ページ', resource.public_url, target: '_brank'
    %tr
      %th.center 賞金
      %td= simple_format resource.money
    %tr
      %th.center 原稿枚数
      %td= simple_format resource.volume
    %tr
      %th.center 備考
      %td= simple_format resource.note
