[asin:#{ resource.title_asin }:image:large]
\====
【目次】
[:contents]
* 内容紹介
= simple_format resource.description
* PV
[#{resource.pv_url}:embed:cite]
* 公式URL
[#{resource.public_url}:embed:cite]

* 無料動画
|*話数|*ひまわり動画|*anitube|*ニコニコ動画|*say move|*youtube|
- (1..resource.story_no).each_with_index do |i|
  |#{i}| #{resource.link_tag(resource.hima_url(i), i)} | #{resource.link_tag(resource.ani_url(i), i)} | #{resource.link_tag(resource.niko_url(i), i)} | #{resource.link_tag(resource.say_url(i), i)} | #{resource.link_tag(resource.youtube_url(i), i)} |
