<!-- ライトノベル新人賞 -->
= link_to "http://www.amazon.co.jp/gp/product/4798025836/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4798025836&linkCode=as2&tag=shinjinshou-22", target: '_brank' do
  = image_tag "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798025836&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=shinjinshou-22" , border: "0"
= image_tag "http://ir-jp.amazon-adsystem.com/e/ir?t=shinjinshou-22&l=as2&o=9&a=4798025836", width: "1", height: "1", border: "0", alt: "", style: "border:none !important; margin:0px !important;"

<!-- 執筆の手順 -->
= link_to "http://www.amazon.co.jp/gp/product/4809411346/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4809411346&linkCode=as2&tag=shinjinshou-22", target: '_brank' do
  = image_tag "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4809411346&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=shinjinshou-22", border: "0" 
= image_tag "http://ir-jp.amazon-adsystem.com/e/ir?t=shinjinshou-22&l=as2&o=9&a=4809411346", width: "1", height: "1", border: "0", alt: "", style: "border:none !important; margin:0px !important;"

<!-- ライトノベルの書き方 -->
= link_to "http://www.amazon.co.jp/gp/product/B00M7USPVW/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=B00M7USPVW&linkCode=as2&tag=shinjinshou-22", target: '_brank' do
  = image_tag "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00M7USPVW&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=shinjinshou-22", border: "0" 
= image_tag "http://ir-jp.amazon-adsystem.com/e/ir?t=shinjinshou-22&l=as2&o=9&a=B00M7USPVW", width: "1", height: "1", border: "0", alt: "", style: "border:none !important; margin:0px !important;"

