!!! 5
%html
  %head
    %title
      新人賞まとめデータベース
      /= full_title(yield(:title))
    /= render partial: 'layouts/meta_tags'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{ rel: "alternate", media: "handheld", href: root_url }
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = yield :head
  %body
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => root_path} TOP
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li= link_to '新人賞データベース', root_path
          /%li= link_to '新人賞ニュース', root_path
          /%li= link_to 'その他', root_path
    .container
      /.row
      /  /.span5
      /  /  = render 'commons/sidebar'
      /  /.span7
      - if flash
        = render 'flash_box'
      = yield
    .copyright{ style: 'text-align: center' }
      Copyright &copy; 2016 かっぱ All Rights Reserved.
